<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    <main class="content details">
        <div class="blog">
            <h2 class="blog--title"><%= blog.title %></h2>
            <h3 class="blog--snippet"><%= blog.snippet %></h3>
            <p  class="blog--body"> <%= blog.body%></p>
        </div>
        <div>
            <a data-doc="<%= blog._id %>" id="edit--button">Edit</a>
            <a data-doc="<%= blog._id %>" id="delete--button">Delete</a>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %>

    <script>
        let deleteBtn = document.getElementById('delete--button')
        let editBtn = document.getElementById('edit--button')

        deleteBtn.addEventListener('click', ()=>{
            console.log('CLICKE')
            fetch(`/blogs/${deleteBtn.dataset.doc}`, {
                method : 'DELETE'
            })
            .then((response)=>response.json())
            .then((data) => window.location.href = data.redirect)
            .catch(err => console.log(err))
        })

        editBtn.addEventListener('click', ()=>{
            console.log('CLICKE')
            fetch(`/blogs/${editBtn.dataset.doc}`, {
                method : 'PUT'
            })
            .then((response)=>response.json())
            .then((data) => window.location.href = data.redirect)
            .catch(err => console.log(err))
        })


    </script>
</body>
</html>